.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../src/img/hero-1x.jpg');
  background-size: cover;
  background-position: center;
  max-width: 375px;
  height: 656px;
  background-repeat: no-repeat;
  margin: 0 auto;
  gap: 32px;
}
@media (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../src/img/hero-2x.jpg');
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 160px32px;
    max-width: 768px;
    height: 864px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../src/img/hero-1x.jpg');
  }
  @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../src/img/hero-2x.jpg');
    }
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    padding: 224px 64px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../src/img/hero-1x.jpg');
  }
  @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../src/img/hero-2x.jpg');
    }
  }
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 160px 20px 0 20px;
}

.hero-title {
  text-align: flex-start;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -1%;
  max-width: 335px;
  color: #ffffff;
}

@media screen and (min-width: 1140px) {
  .hero-title {
    font-size: 56px;
  }
}
.hero-text {
  display: flex;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0%;
  color: #ffffff;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #ccc16e;
  padding: 6px 12px;
  width: 335px;
  height: 36px;
  background-color: #ccc16e;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .hero-button {
    width: 217px;
    height: 36px;
  }
}
@media screen and (min-width: 1140px) {
  .hero-button {
    width: 192px;
    height: 366px;
  }
  .hero-button:hover,
  .hero-button:focus {
    background-color: none;
  }
  .hero-button:active {
    box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.32);
    background: #ccc16e;
  }
}
