<section class="gallery">
  <div class="container">
    <section class="sectoin-title">
    <h2 class="gallery-title">Jewelry Showcase</h2>
    <h3 class="gallery-sub-title">Discover the beauty of our handcrafted jewelry in style.</h3>
    </section>
    <section class="gallery-images">
    <img class="gallery-img-1" src="/img/gallery-img-1.png" alt="circlet">
    <img class="gallery-img-2" src="/img/gallery-img-2.png" alt="pendant">
    <img class="gallery-img-3" src="/img/gallery-img-3.png" alt="necklace">
    <img class="gallery-img-4" src="/img/gallery-img-4.png" alt="earrings">
    </section>
  </div>
</section>
