<header class="header">
  <div class="container">
    <!--header section-->
    <nav class="header-nav">
      <a href="./index.html" class="logo">
        <img src="./img/main-icon.svg" alt="Логотип" class="logo-img" />
      </a>

      <ul class="menu">
        <li class="menu-item">
          <a class="menu-link" href="#about">About us</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#benefits">Benefits</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#gallery">Gallery</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#testimonials">Testimonials</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>

    <a class="header-button" href="#contacts">Order Now</a>

    <button type="button" class="burger-button">
      <svg class="burger-button-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
