.contacts .container {
  gap: 0px;
  color: #000;
}

.contacts-text-wrapper {
  width: 100%;
  margin-bottom: 48px;
}

.contacts-sub-title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
}

.contacts-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

.contacts-description {
  font-size: 18px;
}

.contacts-address {
  margin-bottom: 32px;
}

.address-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.01em;
  font-style: normal;
  margin-bottom: 8px;
}

.address-icon {
  margin-bottom: 16px;
}

.address-link {
  font-style: normal;
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link.inactive {
  opacity: 0.3;
  pointer-events: none;
}

.address-link:hover,
.address-link:focus {
  color: #c2acec;
}

.address-link:active {
  color: #8668c7;
}

.contacts-address-item:not(:last-child) {
  margin-bottom: 24px;
}

.comment-field {
  margin-bottom: 24px;
}

.contacts-form-label {
  display: block;
  margin-bottom: 8px;
}

.contacts-form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #d9d9d9;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-input:focus {
  border-color: #ccc16e;
}

.contacts-form-input:not(:placeholder-shown):required:invalid {
  border-color: #8c0000;
  color: #8c0000;
}

.text-error {
  color: #8c0000;
  font-size: 12px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-input:not(:placeholder-shown):required:invalid ~ .text-error,
.contacts-form-comment:not(:placeholder-shown):required:invalid ~ .text-error {
  opacity: 1;
}

.contacts-form-comment {
  display: block;
  width: 100%;
  height: 180px;
  padding: 12px;
  resize: none;
  border: 1px solid #d9d9d9;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-comment:focus {
  border-color: #ccc16e;
}

.contacts-form-button {
  display: block;
  font-weight: 500;
  margin: 0 auto;
  width: 335px;
  height: 36px;
  background-color: #ccc16e;
  border: 1px solid transparent;
  outline: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form:has(:invalid) .contacts-form-button {
  opacity: 0.3;
  pointer-events: none;
}

.contacts-form .contacts-form-button:hover,
.contacts-form .contacts-form-button:focus-visible {
  background-color: #fff;
  border-color: #ccc16e;
}

.contacts-form .contacts-form-button:active {
  box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.32);
  background-color: #ccc16e;
}

@media only screen and (min-width: 767.98px) {
  .contacts-address-list {
    display: flex;
    gap: 25px;
  }
  .contacts-address-item {
    width: 218px;
  }
  .contacts-form-button {
    width: 249px;
    margin: 0;
  }
}

@media only screen and (min-width: 1439.98px) {
  .contacts-title {
    font-size: 48px;
  }
  .contacts-content-wrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
  }
  .contacts-form {
    width: 640px;
  }
  .contacts-address-list {
    gap: 32px;
    flex-wrap: wrap;
    width: 640px;
  }
  .contacts-address-item {
    width: 304px;
  }
  .contacts-form-button {
    width: 192px;
  }
}
