/* Styles for Mobile devices */

.header {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu,
.header-button {
  display: none;
}

.header .logo {
  padding: 2px 0;
  display: block;
}

.logo-img {
  width: 160px;
  height: 68px;
}

.burger-button {
  background: transparent;
  border: none;
}

.burger-button-icon {
  display: block;
  fill: black;
}

/* Styles for Tablet devices */

@media only screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    align-items: center;
  }

  .header .logo {
    padding: 18px 0;
    margin-right: 48.5px;
  }

  .logo-img {
    width: 84px;
    height: 36px;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .burger-button {
    display: none;
  }

  .menu-link {
    display: block;
    padding: 24px 0;
  }

  .menu-link:hover,
  .menu-link:focus {
    text-decoration: underline;
  }

  .menu-link:active {
    color: #8668c7;
    text-decoration: none;
  }

  .header-button {
    display: inline-block;
    font-weight: 500;
    padding: 6px 18.5px;
    background-color: #ccc16e;
    border: 1px solid transparent;
  }

  .header-button:hover,
  .header-button:focus {
    background-color: transparent;
    border: 1px solid #ccc16e;
  }

  .header-button:active {
    background-color: #ccc16e;
    border: 1px solid transparent;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.32);
  }
}

/* Styles for Desktop devices */

@media only screen and (min-width: 1440px) {
  .header .logo {
    margin-right: 32px;
  }

  .menu {
    gap: 32px;
  }

  .header-button {
    padding: 6px 55px;
  }
}
