.hero {
  max-width: 100%;
  margin: 0 auto;
  padding: 112px 0;

  background-color: #2e2f42;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../../img/hero-mobile-1x.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

@media (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../../img/hero-mobile-2x.jpg');
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 160px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../../img/hero-tablet-1x.jpg');
  }
}
@media screen and (min-width: 768px) and (min-resolution: 2dppx),
  screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../../img/hero-tablet-2x.jpg');
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../../img/hero-1x.jpg');
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 2dppx),
  screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../../img/hero-2x.jpg');
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 335px;
  margin: 0 auto;
}

.hero-title {
  font-family: 'Sora', sans-serif;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #ffffff;
  text-align: left;
  margin-bottom: 24px;
}

.hero-text {
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  text-align: left;
  margin-bottom: 32px;
}

.hero-button {
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #000000;
  background-color: #ccc16e;
  cursor: pointer;
  padding: 6px 12px;
  border: 1px solid #ccc16e;
  width: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 160px 0;
  }

  .hero-content {
    max-width: 513px;
    margin: 0;
  }
  .hero-button {
    width: 217px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    margin: 0 auto;
  }
  .hero-button {
    width: 192px;
  }
  .hero-text {
    width: 640px;
  }
}
